.graph {
  background-color: pink;
  position: relative;
  height: 100vh;
}

.graph-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: absolute;
  top: 10%;
  border: 7px solid black;
  width: 100%;
}

.chart {
  position: absolute;
  top: 30%;
  width: 100%;
}