.news {
  max-width: 1260px;
  min-width: 1006px;
  margin: auto;
  /* width: 90%; */
  /* text-align: justify; */
  /* height: 100%; */
  /* border-top: 1px solid grey; */
}

.uk-article {
  height: 80%;
}