.one-stock {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  box-sizing: border-box;
  position: relative;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.one-stock h1 {
  text-decoration-line: underline;
  font-weight: 400;
}

.stock-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px soild black;
}

.logo {
  /* margin-right: 1em; */
  margin: .5em .5em 0 .5em;
  font-family: Arial, Helvetica, sans-serif;
}

.stock-card p, li {
  padding: .5em .75em;
  
}

.stock-head p {
  /* background-color: pink; */
  margin: 0;
}


.stock-details ul{
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.stock-details li {
  /* background-color: pink; */
  list-style: none;
}


