.App {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
  'top-bar top-bar top-bar top-bar'
  'one-stock one-stock one-stock one-stock'
  'news news news news '
  'footer footer footer footer ';
 
}

.top-bar {
  max-width: 1260px;
  min-width: 1006px;
  margin: auto;
  grid-area: top-bar;
  top: 0;
  width: 100%;
  /* padding-right: 100%; */
  padding-bottom: 1.5em;
  /* margin-left: 19.5em; */
  text-align: center;
  /* background-image: url('https://www.gannett-cdn.com/-mm-/403ef77445f4b28964c33232ce35da47f3525530/c=0-32-580-358&r=x803&c=1600x800/local/-/media/2017/07/24/USATODAY/usatsports/getty-stock-market-prices_large.jpg') */
  background: slategray;
  border-radius: 5px;
  
}

#head {
  text-transform: uppercase;
  margin: 1em 1em 0 1em;
  padding: 0%;
  display: inline-block;
}


.select-bar {
  display: inline-block;
  margin: 1em 1em 0 1em;
  width: 30%;
}

footer {
  grid-area: footer;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: auto;
  text-align: center;
  background: grey;
  padding: 1em 0;
  margin-top: 1em;
  font-weight: 900;
  font-size: .69em;
}

.news {
  grid-area: news;
}